h1 {
    font-family: fantasy;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#magic8Ball {
    display: flex;
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    height: 500px;
    width: 500px;
    background-image: url('8BallFA.gif');
}